<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JavaScript Radio Button</title>
</head>
<body>
    <p><b>INSTRUCTION QUESTIONS</b></p>

    <p>What is your goal?</p>
    <div>
        <input type="radio" name="option" value="wrong1" id="ans11">
        <label for="agree">To earn at least 15 points over the 30 questions</label>
    </div>
    <div>
        <input type="radio" name="option" value="right1" id="ans12">
        <label for="pass">To earn as many points as possible over the 30 questions</label>
    </div>
    <div>
        <input type="radio" name="option" value="wrong1" id="ans13">
        <label for="pass">To avoid earning zero points on any question</label>
    </div>

    <p>For each question, what will be provided from the AI?</p>
    <div>
        <input type="radio" name="option2" value="wrong2" id="ans21">
        <label for="agree">A prediction</label>
    </div>
    <div>
        <input type="radio" name="option2" value="wrong2" id="ans22">
        <label for="pass">A prediction and explanation for the prediction</label>
    </div>
    <div>
        <input type="radio" name="option2" value="right2" id="ans23">
        <label for="pass">A prediction and confidence in the prediction</label>
    </div>
    <br>
    <br>

    <div>
        <input type="button" onclick="window.location.href='../tutorial';" name="option" value="Next" id="next">
    </div>

</body>
<script type='text/javascript'>
</script>
</html>
