<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JavaScript Radio Button</title>
</head>
<body>
    <p><b>FINAL QUESTIONS</b></p>

    <p>Examples of each confidence format you saw are shown below.</p>
    <!--should order in terms of what they actually saw-->
    <p>Percentage: 60%</p>
    <p>Frequency: 60 out of 100</p>
    <p>Icon Array: </p>
    <img src="icons/icon60.jpeg" width="250" alt="icon array showing 60 black dots and 40 gray dots">

    <p>Please list the confidence formats from your most favorite to least favorite. Please do not have any ties.</p>
    <div>
          <textarea id="rank" name="rank" rows="4" cols="50">Most Favorite:
Second Favorite:
Least Favorite:
          </textarea>
    </div>

    <p>Please describe why your favorite is your favorite. (1-2 sentences)</p>
    <div>
          <textarea id="fav" name="fav" rows="4" cols="50"></textarea>
    </div>
    <br>

    <div>
        <input type="button" onclick="window.location.href='';" name="option" value="Finish" id="finish">
    </div>

</body>
<script type='text/javascript'>
</script>
</html>
