<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructions</title>
</head>
<body>
    <p><b>Preliminary Questionnaire</b></p>

    <p>Please complete the following preliminary questions. We will then move on to the main task instructions.</p>

    <p>Imagine that we flip a fair coin 1,000 times. What is your best guess about how many times the coin would come up heads in 1,000 flips?</p>
    <div>
          <input type="text" id="num1" name="num1"> times out of 1,000
    </div>

    <p>In the BIG BUCKS LOTTERY, the chances of winning a $10.00 prize is 1%. What is your best guess about how many people would win a $10.00 prize if 1,000 people each buy a single ticket to BIG BUCKS?</p>
    <div>
          <input type="text" id="num2" name="num2"> person(s) out of 1,000
    </div>

    <p>In the ACME PUBLISHING SWEEPSTAKES, the chance of winning a car is 1 in 1,000. What percent of tickets to ACME PUBLISHING SWEEPSTAKES win a car?</p>
    <div>
          <input type="text" id="num3" name="num3">%
    </div>
    <br>

    <div>
        <input type="button" onclick="window.location.href='instructions';" name="option" value="Next" id="next">
    </div>
</body>
</html>
