<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JavaScript Radio Button</title>
</head>
<body>
    <p><b>QUESTION 3</b></p>

    <p>The AI predicts that you should select <b>Button A</b>.</p>

    <p>Confidence: 61%</p>

    <p>Please decide whether to pass or to agree with the AI’s prediction.</p>
    <div>
        <input type="radio" name="option" value="agree" id="agree">
        <label for="agree">Agree with AI (3 points if right; 0 points if wrong)</label>
    </div>
    <div>
        <input type="radio" name="option" value="pass" id="pass">
        <label for="pass">Pass (2 points)</label>
    </div>
    <br>
    <div>
        <input type="button" onclick="window.location.href='../q4';" name="option" value="Next" id="next">
    </div>

</body>
<script type='text/javascript'>

</script>
</html>
